<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS |
        <%= title %>
    </title>
</head>

<body>
    <div>
        <h1>About page</h1>
        <%- include('./partials/nav.ejs') %>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum impedit rem aperiam nihil. Tenetur
                aut
                amet reiciendis, quos dicta officiis placeat quam. Illum nobis natus et vitae. Assumenda, laboriosam
                cupiditate?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia fugiat dolorum corporis aut doloribus
                officiis dignissimos porro sint, libero laudantium maxime. Pariatur, vitae sunt molestiae officiis saepe
                nam
                quae magni incidunt totam iusto maxime quidem minima at? Modi ullam corporis cupiditate fugit laboriosam
                aliquid nemo officiis maiores quas eaque laborum est recusandae rem provident quis quos eius, odit
                molestias
                qui minima. Eveniet iusto dolor quasi vel magnam voluptatibus suscipit, inventore obcaecati consectetur
                iure
                aspernatur non pariatur perspiciatis sequi sit, asperiores aliquam qui ab dignissimos? Perferendis ullam
                aliquam optio in saepe. Cupiditate adipisci recusandae ullam autem beatae molestiae quam neque
                voluptatibus.
            </p>
    </div>
    <%- include('./partials/footer.ejs') %>

</body>

</html>